:root {
    --primary: #3A5AE2;
    --secondary: #BFD7EA;
    --accent: #EFA00B;
    --text: #071108;
    --not-quite-white: #FEFEFE;
    --golden-r: 1.618;
}

* {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

button:focus, a:focus, input:focus {
    outline: calc(var(--size-1) / 1.5) solid var(--accent);
    outline-offset: var(--size-0);
}


body {
    background: var(--not-quite-white);
}

h1, h2, h3 {
    margin-block: var(--scale-1);
}

h2 {
    font-size: var(--scale-3);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin-block: var(--size-10);
}

.logo__image {
    width: var(--scale-fluid-9);
}

#submit {
    background: var(--not-quite-white);
    border: var(--primary);
    border-width: var(--size-0);
    border-radius: var(--radius-sm);
    border-style: solid;
    color: var(--primary);
    text-transform: uppercase;
    font-weight: bold;
    padding-inline: var(--scale-000);
    font-size: var(--scale-2);
}

#submit:hover {
    cursor: pointer;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.logo__title {
    font-size: var(--scale-fluid-7);
    font-weight: 500;
    font-style: normal;
    color: var(--text);
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--not-quite-white);
    grid-column: 2/3;
    margin: var(--size-3);
}

body {
    display: grid;
    grid-template-columns: auto min(100vw, var(--prose-xl)) auto;
}

header, main, footer {
    grid-column: 2/3;
    grid-row: auto;
}

.graphic-l,.graphic-r {
    background: url("./svg-bg-alt.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    /* background-position-y: bottom; */
    background-size: cover;
    background-position-y: calc(calc(var(--golden-r) * 1) * var(--scale-9));
}


.graphic-l {
    background-origin: border-box;
    --animate-delay: 1200ms;
    --animate-duration: 3s;
}

.graphic-r {
    transform: scaleX(-100%);
    --animate-delay: 200ms;
    --animate-duration: 2s;
}



/* Optional */
main {
    margin: 0 auto;
    max-width: 80ch;
}

ul {
    list-style: none;
    padding: 0px;
    list-style-position: outside;
    margin-left: var(--scale-2);
}

ul li:before
{
    content: '\25B7';
    margin: 0px 10px 0px -27px;
    color: var(--primary);
}

section {
    margin-block: var(--scale-5);
}

.copyright {
    margin-top: var(--scale-5);
    padding-bottom: var(--scale-5);
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer__links li {
    margin-right: var(--scale-2);
}

.margin-sm {
    margin-block: var(--scale-1);
}
